In [1]:
import pandas as pd

# Load the uploaded Excel file
file_path = 'supermarket_transactions.xlsx'
df = pd.read_excel(file_path)

# Display the first few rows of the dataframe to understand its structure
df.head()

,Unnamed: 0,id,timestamp,quantity,product_id,product_name,unit_price,total_amount,store,payment_method,customer_id,customer_type
0,0,47d54138-a950-4ec0-9d4a-e637e8dfb290,2022-04-28 09:11:00,10,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,3.90,South Billyview,cash,c2b9eddd-df8c-446a-ae34-50ad88f28e0a,non-member
1,1,dea298b1-26ca-4a43-bcef-4050fb74ce1d,2019-12-06 16:21:00,1,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,0.39,South Edward,contactless,134a3c2c-8ccc-494c-9916-a15ff10a9125,member
2,2,8dcd78f6-2e68-4fe3-9bb0-afe3bb2c3944,2019-06-22 15:27:00,10,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,3.90,South Billyview,contactless,a310b698-4e34-4a4a-8c60-e72fad63f9ba,gold
3,3,261c100c-b121-44b7-bc03-787f396c2061,2020-08-16 18:14:00,8,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,3.12,South Michaelfurt,credit card,0dfaced3-271c-4da0-80fc-fd3de4328bd5,corporate
4,4,7d025b4d-caac-40a5-b954-63cd7bd20f92,2019-11-12 15:46:00,1,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,0.39,Christopherfurt,cash,b05efb3f-c38e-4b86-8366-32e42340a4dc,gold

In [2]:
# Task 1: Count of Apples Purchased in Cash
apples_cash = df[(df['product_name'] == 'apple') & (df['payment_method'] == 'cash')]
total_apples_cash = apples_cash['quantity'].sum()

# Task 2: Total Cash Spent on Apples
total_cash_spent_on_apples = apples_cash['total_amount'].sum()

# Task 3: Money Spent by Non-Member Customers at Bakershire
bakershire_non_members = df[(df['store'] == 'Bakershire') & (df['customer_type'] == 'non-member')]
total_spent_bakershire_non_members = bakershire_non_members['total_amount'].sum()

total_apples_cash, total_cash_spent_on_apples, total_spent_bakershire_non_members

(117, 537.0299999999997, 2857.5099999999993)

In [4]:
# Save the results and formulas in an Excel file for submission

# Create a new DataFrame to hold the results
results = {
    'Metric': ['Total Apples Purchased in Cash', 'Total Cash Spent on Apples', 'Total Spent by Non-Members at Bakershire'],
    'Value': [total_apples_cash, total_cash_spent_on_apples, total_spent_bakershire_non_members]
}

results_df = pd.DataFrame(results)

# Save the results to a new Excel file
results_file_path = 'supermarket_analysis_results.xlsx'
results_df.to_excel(results_file_path, index=False)

results_file_path

'supermarket_analysis_results.xlsx'

In [5]:
import pandas as pd

# Load the provided Excel file
file_path = 'mobile_customers.xlsx'
data = pd.read_excel(file_path)

# Display the first few rows of the dataset to understand its structure
data.head()

,Unnamed: 0,customer_id,date_registered,username,name,gender,address,email,birthdate,current_location,residence,employer,job,age,salary,credit_card_provider,credit_card_number,credit_card_security_code,credit_card_expire
0,0,24c9d2d0-d0d3-4a90-9a3a-e00e4aac99bd,2021-09-29,robertsbryan,Jonathan Snyder,M,"24675 Susan Valley\nNorth Dianabury, MO 02475",marcus58@hotmail.com,1978-03-11,"['78.937112', '71.260464']","195 Brandi Junctions\nNew Julieberg, NE 63410","Byrd, Welch and Holt",Chief Technology Officer,49,53979,VISA 19 digit,38985874269846,994,2023-10-27 00:00:00
1,1,7b2bc220-0296-4914-ba46-d6cc6a55a62a,2019-08-17,egarcia,Susan Dominguez,F,"4212 Cheryl Inlet\nPort Davidmouth, NC 54884",alexanderkathy@hotmail.com,1970-11-29,"['-24.1692185', '100.746122']","58272 Brown Isle Apt. 698\nPort Michael, HI 04693",Hurst PLC,Data scientist,43,81510,Discover,6525743622515979,163,2023-07-30 00:00:00
2,2,06febdf9-07fb-4a1b-87d7-a5f97d9a5faf,2019-11-01,turnermegan,Corey Hebert,M,"07388 Coleman Prairie\nLake Amy, IA 78695",vwood@gmail.com,2009-04-23,"['8.019908', '-19.603269']","36848 Jones Lane Suite 282\nMarquezbury, ID 26822","Mora, Caldwell and Guerrero",Chief Operating Officer,47,205345,VISA 16 digit,4010729915028682247,634,2023-04-26 00:00:00
3,3,23df88e5-5dd3-46af-ac0d-0c6bd92e4b96,2021-12-31,richardcampbell,Latasha Griffin,F,"PSC 6217, Box 2610\nAPO AA 53585",kathleen36@gmail.com,1992-07-27,"['62.497506', '2.717198']","317 Lamb Cape Apt. 884\nLake Amy, DC 79074",Patel PLC,Counselling psychologist,34,116095,VISA 16 digit,4854862659569207844,7957,2023-10-31 00:00:00
4,4,6069c2d7-7905-4993-a155-64f6aba143b1,2020-08-09,timothyjackson,Colleen Wheeler,F,"0325 Potter Roads\nLake Lisashire, NM 77502",johnbest@hotmail.com,1989-09-16,"['73.7924695', '-80.314720']","21936 Mary Islands\nMendozafort, TN 37124",Smith-Mejia,Mining engineer,57,107529,JCB 16 digit,213152724828217,72,2023-05-28 00:00:00

In [7]:
# Anonymizing the dataset

# Remove sensitive columns
columns_to_remove = [
    'Unnamed: 0', 'customer_id', 'username', 'name', 'email', 'address',
    'residence', 'credit_card_number', 'credit_card_security_code', 'credit_card_expire'
]
anonymized_data = data.drop(columns=columns_to_remove)

# Generalize job titles
anonymized_data['job'] = anonymized_data['job'].apply(lambda x: 'Professional' if 'Officer' in x or 'Scientist' in x else 'Other')

# Generalize birthdate to age brackets
def age_bracket(age):
    if age < 20:
        return '<20'
    elif 20 <= age < 30:
        return '20-29'
    elif 30 <= age < 40:
        return '30-39'
    elif 40 <= age < 50:
        return '40-49'
    elif 50 <= age < 60:
        return '50-59'
    else:
        return '60+'

anonymized_data['age'] = anonymized_data['age'].apply(age_bracket)

# Generalize salary to salary brackets
def salary_bracket(salary):
    if salary < 30000:
        return '<30k'
    elif 30000 <= salary < 60000:
        return '30k-60k'
    elif 60000 <= salary < 90000:
        return '60k-90k'
    elif 90000 <= salary < 120000:
        return '90k-120k'
    elif 120000 <= salary < 150000:
        return '120k-150k'
    else:
        return '150k+'

anonymized_data['salary'] = anonymized_data['salary'].apply(salary_bracket)

# Mask current location by rounding coordinates
def mask_location(location):
    coords = eval(location)
    return [round(float(coords[0]), 1), round(float(coords[1]), 1)]

anonymized_data['current_location'] = anonymized_data['current_location'].apply(mask_location)

# Save the anonymized data to a CSV file
anonymized_file_path = 'anonymized_mobile_customers.csv'
anonymized_data.to_csv(anonymized_file_path, index=False)

import ace_tools as tools; tools.display_dataframe_to_user(name="Anonymized Mobile Customers Data", dataframe=anonymized_data)

anonymized_file_path

ModuleNotFoundError: No module named 'ace_tools'

In [ ]:
#Proposal for Using @CommBank Twitter Data for InsightSpark
Introduction
The @CommBank Twitter account, representing the Commonwealth Bank of Australia, is a valuable source of real-time customer interactions, sentiment, and feedback. By leveraging the Twitter API, InsightSpark can extract and analyze this data to generate actionable business insights. This proposal outlines the steps and methodologies for utilizing the @CommBank Twitter data effectively.

Familiarization with @CommBank Twitter Account
The @CommBank Twitter account is a dynamic platform where the bank engages with its customers, provides updates, and addresses customer queries and concerns. The publicly available information includes tweets, replies, retweets, likes, and media content.

Understanding the Twitter API
The Twitter API allows developers to programmatically interact with Twitter data. Key resources include:

Twitter API: Data Dictionary: Provides detailed information on the types of data available through the API, such as tweet metadata, user details, and engagement metrics.
Twitter: Build for Business: Offers insights into how businesses can utilize Twitter data for marketing, customer service, and brand management.
Methodologies for Data Extraction and Analysis
Sentiment Analysis:

Use Natural Language Processing (NLP) techniques to analyze the sentiment of tweets directed at or originating from @CommBank.
Identify trends in customer sentiment over time, pinpointing periods of high satisfaction or dissatisfaction.
Customer Feedback and Query Analysis:

Categorize customer queries and feedback to identify common issues and concerns.
Track response times and the effectiveness of customer service interactions.
Engagement Metrics:

Measure the engagement levels of @CommBank’s tweets (likes, retweets, replies) to determine the effectiveness of different types of content.
Identify the most engaging tweets and analyze the characteristics that contribute to their success.
Competitor Analysis:

Compare @CommBank’s Twitter performance with that of competitors to identify strengths and weaknesses in social media strategy.
Analyze competitor interactions to uncover industry trends and customer expectations.
Influencer and Network Analysis:

Identify key influencers interacting with @CommBank to leverage potential partnership opportunities.
Analyze the network of interactions to understand the reach and impact of @CommBank’s Twitter presence.
Implementation Steps
Data Collection:

Use the Twitter API to collect tweets, retweets, replies, and user data related to @CommBank.
Store the collected data in a structured database for easy access and analysis.
Data Processing and Cleaning:

Clean and preprocess the data to remove noise and ensure consistency.
Use NLP techniques to extract meaningful information from the text data.
Analysis and Visualization:

Apply sentiment analysis algorithms to gauge customer sentiment.
Use clustering and categorization techniques to identify common themes in customer feedback.
Visualize engagement metrics and sentiment trends using dashboards and reports.
Reporting and Insights Generation:

Generate regular reports highlighting key insights and trends.
Provide actionable recommendations based on the analysis to improve customer engagement and service.
Conclusion
By leveraging the data available on the @CommBank Twitter account, InsightSpark can extract valuable insights that enhance customer understanding, improve service quality, and inform strategic decision-making. The proposed methodologies and implementation steps provide a comprehensive approach to harnessing Twitter data for business growth.

In [ ]:
#Database Structure Proposal for Storing Tweets from CommBank Twitter Account

List of Tables
Users
Tweets
Replies
QuoteRetweets
Mentions
Items to Include in Each Data Set
1. Users Table
user_id (Primary Key): Unique identifier for each user.
username: The Twitter handle of the user.
display_name: The display name of the user.
bio: The bio of the user.
profile_image_url: URL of the user's profile image.
created_at: The date when the user account was created.
2. Tweets Table
tweet_id (Primary Key): Unique identifier for each tweet.
user_id (Foreign Key): The user who posted the tweet.
content: The content of the tweet.
created_at: The date and time when the tweet was posted.
retweet_count: Number of retweets.
like_count: Number of likes.
reply_count: Number of replies.
quote_count: Number of quote retweets.
3. Replies Table
reply_id (Primary Key): Unique identifier for each reply.
tweet_id (Foreign Key): The original tweet that is being replied to.
user_id (Foreign Key): The user who posted the reply.
content: The content of the reply.
created_at: The date and time when the reply was posted.
4. QuoteRetweets Table
quote_id (Primary Key): Unique identifier for each quote retweet.
tweet_id (Foreign Key): The original tweet that is being quoted.
user_id (Foreign Key): The user who posted the quote retweet.
content: The content of the quote retweet.
created_at: The date and time when the quote retweet was posted.
5. Mentions Table
mention_id (Primary Key): Unique identifier for each mention.
tweet_id (Foreign Key): The tweet in which the user is mentioned.
mentioned_user_id (Foreign Key): The user who is mentioned.
created_at: The date and time when the mention was made.
Primary Keys for Each Data Set
Users: user_id
Tweets: tweet_id
Replies: reply_id
QuoteRetweets: quote_id
Mentions: mention_id
Relationships Between Tables
Users and Tweets

One-to-Many: One user can have many tweets.
Relationship Field: user_id in Tweets references user_id in Users.
Tweets and Replies

One-to-Many: One tweet can have many replies.
Relationship Field: tweet_id in Replies references tweet_id in Tweets.
Tweets and QuoteRetweets

One-to-Many: One tweet can have many quote retweets.
Relationship Field: tweet_id in QuoteRetweets references tweet_id in Tweets.
Tweets and Mentions

One-to-Many: One tweet can have many mentions.
Relationship Field: tweet_id in Mentions references tweet_id in Tweets.
Users and Replies

One-to-Many: One user can post many replies.
Relationship Field: user_id in Replies references user_id in Users.
Users and QuoteRetweets

One-to-Many: One user can post many quote retweets.
Relationship Field: user_id in QuoteRetweets references user_id in Users.
Users and Mentions

One-to-Many: One user can be mentioned in many tweets.
Relationship Field: mentioned_user_id in Mentions references user_id in Users.
This structure ensures that we capture all necessary data points while maintaining the integrity and relationships of the data. This approach will help in querying and analyzing the data effectively for business insights.